<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>%%page_title%%</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Base CSS for header and footer-->
    <link href="css/application.css" rel="stylesheet">

    <meta property="og:site_name" content="ТЕКСТИ.ORG.UA"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="%%page_title%%"/>
    <meta property="og:image" content="%%image_path%%"/>
    <meta property="og:description" content="%%meta_description%%"/>
    <meta property="og:url" content="%%absolute_page_url%%"/>
    <meta property="article:publisher" content="https://www.facebook.com/TEXTY.org.ua" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:site" content="@textyorgua"/>
    <meta property="twitter:account_id" content="49572937"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:url" content="%%absolute_page_url%%" />
    <meta name="twitter:title" content="%%page_title%%"/>
    <meta name="twitter:description" content="%%meta_description%%"/>
    <meta name="twitter:image:src" content="%%image_path%%"/>
    <meta name="twitter:image:width" content="1200"/>
    <meta name="twitter:image:height" content="630"/>
    <!-- Other Meta Tags -->
    <meta name="title" content="%%page_title%%">
    <meta name="description" content="%%meta_description%%">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
</head>


<body>
  <!-- Fixed navbar -->
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2  col-xs-4">
        <a href="http://texty.org.ua"><img class="img-responsive logo" src="img/logo.png"></a>
    </div>
    <div class="col-lg-1 col-lg-offset-9 col-md-1 col-md-offset-9 col-sm-2 col-sm-offset-8 col-xs-2 col-xs-offset-6">
      <div class="social-icons">
        <a href="https://twitter.com/intent/tweet?text=%%tweet%%" class="share-btn"><i class="fa fa-twitter fa-fw fa-2x social-tw"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=%%absolute_page_url%%" class="share-btn"><i class="fa fa-facebook fa-fw fa-2x social-fb"></i></a>
      </div>
    </div>
  </div>


<header id="top">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2  col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
    <h1 class="center"><span>Lorem ipsum dolor sit amet</span></h1>
    <div id="subtitle" class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
    <a href="#main" class="btn"><span class="fa fa-sort-desc fa-2x"> </span></a>
  </div>
</div>
</header>

  <div id="main">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
  </div>

  <div class="row block">
	<div class="col-xs-12 support">
		<p>Проект здійснено за підтримки «Ініціативи з розвитку аналітичних центрів в Україні», яку виконує Міжнародний фонд «Відродження» (МФВ) за фінансової підтримки Посольства Швеції в Україні (SIDA) та фонду NED.</p>
        <p>Думки та позиції, викладені у цій публікації, є позицією автора та не обов'язково відображають позицію уряду Швеції.</p>
		<img src="img/vidrodzennia.png" style="background:#fff">
		<img height="51px" style="margin-left:10px; background:#fff" src="img/ttf.png">
		<img height="51px" style="margin-left:10px" src="img/sweden_embassy.png">
		<img style="margin-left:10px" src="img/ned.png">
		<br/>
    </div>
  </div>
</div>
<!-- End of your content -->

<!-- Footer-->
<footer id="footer" class="container-fluid">
  <div id="footer-wraper" class="row wraper">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="copyright">
                <div class="texty">&copy; 2016, Тексти.org.ua</div>
                <div class="texty">Медія для розумних</div>
            </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <ul class="links">
                    <li><a href="http://texty.org.ua/mod/article/index.php?ed=1">Вибір редакції</a>
                        <a href="http://texty.org.ua/mod/article/?view=rss&amp;ed=1">(RSS)</a>
                    </li>
                    <li><a href="http://texty.org.ua/mod/video/">Відео</a>
                        <a href="http://texty.org.ua/mod/video/?view=rss">(RSS)</a>
                    </li>
                    <li><a href="http://texty.org.ua/mod/article/">Статті</a>
                        <a href="http://texty.org.ua/mod/article/?view=rss">(RSS)</a>
                    </li>
                    <li><a href="http://texty.org.ua/mod/news/">Новини</a>
                        <a href="http://texty.org.ua/mod/news/?view=rss">(RSS)</a>
                    </li>
                    <li><a href="http://texty.org.ua/mod/blog/everyone.php">Блоги</a>
                        <a href="http://texty.org.ua/mod/blog/blog_list.php?view=rss">(RSS)</a>
                    </li>
                </ul>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <ul class="links">
                    <li>
                        <a href="http://texty.org.ua/mod/archive/tag.php?tag=%D0%BA%D0%BE%D0%BD%D1%86%D0%B5%D0%BF%D1%86%D1%96%D1%8F">Концепції</a>
                    </li>
                    <li>
                        <a href="http://texty.org.ua/mod/archive/tag.php?tag=%D1%80%D0%B5%D1%84%D0%BE%D1%80%D0%BC%D0%B8">Реформи</a>
                    </li>
                    <li><a href="http://texty.org.ua/mod/archive/tag.php?tag=%D0%B4%D0%BE%D1%81%D0%B2%D1%96%D0%B4">Важливий досвід</a></li>
                    <li><a href="http://texty.org.ua/mod/archive/tag.php?tag=%D1%96%D0%BD%D0%BE%D0%B7%D0%BC%D1%96">Найцікавіше з інозмі</a></li>
                    <li><a href="http://texty.org.ua/pg/blog/infoviz">Журналістика даних</a></li>
            </ul>
     </div>
       <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <ul class="links">
                    <li><a href="http://facebook.com/texty.org.ua">Ми у Фейсбуці</a></li>
                    <li><a href="http://twitter.com/textyorgua">Ми у Твітері</a></li>
                    <li><a href="http://texty.org.ua/pg/pages/view/22">Про нас</a></li>
                    <li><a href="http://texty.org.ua/mod/archive/">Архів</a></li>
            </ul>
     </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="copying-info">
            Матеріали ТЕКСТИ.org.ua можна поширювати згідно ліцензії Creative Commons з обов’язковим посиланням.
            Велике прохання ставити гіперпосилання в першому чи другому абзаці вашого матеріалу.
        </div>
     </div>
  </div>
</footer>

<script src="js/jquery.min.js"></script>
<script src="js/d3.v4.min.js"></script>
<script src=js/d3-jetpack.js></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Twitter image share and popup share window -->
<script src="js/share-behavior.js"></script>

<script>

// Scroll fade-in logo
$( window ).scroll(function() {
   $(".logo").fadeOut( "slow" );
   if ($(window).scrollTop() == 0) {
     $(".logo").css('display', 'block');
   }
});
</script>

<!-- Google analytics !-->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18136548-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>
