
$main-text: #383e47;
$white:#fff;
$orange: #FAA61A;
$orange-red: #F77A52;
$grey: #ccc;


/// fonts

$main-serif: Open Sans, sans-serif;
$footer-size: 0.7em;
$footer-size-media: 0.6em;


// Media query

$brk-narrow: '(max-width: 970px)';
$brk-spnarrow: '(max-width: 480px)';
